name: Build

on: [push]

jobs:
  build:
    name: Build .NET assemblies
    runs-on: ubuntu-latest
    env:
      ACTIONS_ALLOW_UNSECURE_COMMANDS: true
    steps:
    - name: Check out repo
      uses: actions/checkout@v4
    - name: Set up .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '7.0.x'
    - name: Build solution
      run: dotnet publish src -c Release -o output
    - name: Upload artifacts
      uses: actions/upload-artifact@v3
      with:
        path: |
          output/*.dll
